.name {
    color: floralwhite;
    opacity: 0%;
    animation: name;
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
}

@keyframes name {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}